body.loading {
    background-color: white;
    overflow: hidden; 
    display: block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-image: '../../images/loading/loading.gif';
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;  
}

.hide{
    display: none;
}

.show{
    display: block;
}